body {
	margin: 50px;
	font-family: 'Ubuntu', sans-serif;
	background: rgb(216, 171, 10);
}

h1 {
	font-weight: 800;
	font-size: 100px;
	line-height: 120px;
	text-align: center;
	background: -webkit-linear-gradient(153deg, #913be2 0%, #68d3e6 95%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 100px;
	border: 2px solid #04333b;
	font-family: 'Fredoka One', cursive;
  }

  p{
	  margin: 25px;
  }

  input {
	  border-radius: 10px;
	  height: 50px;
	  border: 2px solid #04333b;
  }